.title {
  font-size: 25px;
}

.menu ul {
  display: none;
}

.menu .title:before {
  content: "▶";
  padding-right: 6px;
}

.menu.open ul{
  display: block;
}

.menu.open .title::before {
  content: "▼";
}

.promise-avatar-example {
  width: 30px;
  height: 30px;
}

#list {
  padding: 25px;
  background-color: yellow;
}

li {
  padding: 10px;
  background-color: blue;
}

span {
  padding: 10px;
  background-color: chocolate;
}

.drag-block {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 250px;
  background-color: white;
  border: solid black;
}

.inner-block {
  background-color: grey;
  border-bottom: dotted black;
  padding: 3px;
  font-family: sans-serif;
  font-weight: bold;
}